#banner{
    width: 960px;
    height: 430px;
    margin: 0;
    padding: 20px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}
#banner .banner_pic .pic{
    width: 100%;
    height: 100%;
    display: none;
}
#banner .banner_pic .current{
    width: 100%;
    height: 100%;
    display: block;
}
#banner .banner_pic img{
    display: block;
    width: 960px;
    height: 430px;
    margin: 0;
    box-shadow:  3px 3px 10px #777;
    border-radius: 10px;
}
#banner ol{
    list-style: none;
    position: absolute;
    bottom: 10px;
    left: 38%;
}
#banner ol .but{
    float: left;
    width: 30px;
    height: 4px;
    border: 1px solid #ccc;
    background-color: #ccc;
    border-radius: 2px;
    margin-right: 15px;
    /* text-align: center; */
    /* line-height: 22px; */
    /* font-size: 16px; */
    /* font-weight: bold; */
    opacity: 0.5;
}
#banner ol .current{
    float: left;
    width: 30px;
    height: 4px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 2px;
    margin-right: 15px;
    /* text-align: center; */
    /* line-height: 22px; */
    /* font-size: 16px; */
    /* font-weight: bold; */
}
#banner ol li{
    cursor: pointer;
}