#content .part_title{
    width: 100%;
    height: 60px;
    margin: 15px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
}
#content .part_title h1:hover {
    color: #b01818;
}
#content .part_title a{
    text-decoration: none;
    color: #000;
}
/* 系列简介 */
#content .series {
    width: 980px;
    height: auto;
    margin: 20px 10px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    box-shadow: 3px 3px 10px #ccc;
    overflow: hidden;
}
#content .series .series_item {
    width: 900px;
    height: 135px;
    margin: -5px 5px 15px 5px;
    padding: 0px 10px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    float: right;
}
#content .series_item:hover {
    box-shadow: 2px 2px 10px #b01818;
}
#content .series_item h2:hover {
    color: #b01818;
}
#content .series_item a {
    text-decoration: none;
    color: #000;
}
#content .series .series_item .series_info {
    width: 880px;
    height: 60px;
    margin: 0 10px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    float: left;
}
/* 电影展示 */
#content .movies {
    width: 980px;
    height: auto;
    margin: 20px 10px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    box-shadow: 3px 3px 10px #ccc;
    overflow: hidden;
}
#content .movies .movies_list {
    width: 930px;
    height: 260px;
    margin: 5px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    float: right;
}
#content .movies .movies_list .movies_list_item {
    width: auto;
    height: auto;
    margin: 8px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    float: left;
}
#content .movies_list_item a {
    text-decoration: none;
    color: #000;
}
#content .movies .movies_list_item .movies_list_item_pic {
    width: auto;
    height: 202px;
    margin: 0;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
}
#content .movies_list_item_pic:hover {
    box-shadow: 2px 2px 10px #b01818;
}
#content .movies .movies_list_item .movies_list_item_name {
    width: auto;
    height: auto;
    margin: 0;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
}
#content .movies_list_item_name h4:hover {
    color: #b01818;
}
#content .movies img {
    width: 135px;
    height: auto;
    margin: 0;
    /* box-shadow: 3px 3px 3px #ddd; */
    border-radius: 5px;
    float: left;
}
/* 相关资讯 */
#content .news {
    width: 980px;
    height: auto;
    margin: 20px 10px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    box-shadow: 3px 3px 10px #ccc;
    overflow: hidden;
}
#content .news .news_list {
    width: auto;
    height: auto;
    margin: 5px 30px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
}
#content .news .news_list .news_list_item {
    width: auto;
    height: auto;
    margin: 20px 10px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
}
#content .news_list_item_headline h4:hover,.news_list_item_time:hover{
    color: #b01818;
}
#content .news .news_list_item .news_list_item_time {
    width: auto;
    height: auto;
    margin: 0 10px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
}
#content .news .news_list_item .news_list_item_content {
    width: auto;
    height: auto;
    margin: 0 10px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
}
#content .news .news_list_item .news_list_item_content a {
    text-decoration: none;
    color: #000;
    font-style: italic;
}