body {
    width: 1000px;
    height: auto;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #f0f0f0;
}
#header {
    width: 1000px;
    height: 90px;
    background-color: #000;
    color: #eee;
    margin: 0;
    padding: 0;
}
/* #banner {
    width: 1000px;
    height: 500px;
    margin: 0;
    padding: 0;
    background-color: #fff;
} */
#content {
    width: 1000px;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
#footer {
    width: 1000px;
    height: 120px;
    background-color: #b22525;
    color: #fff;
    margin: 0;
    padding: 0;
}