/* 返回 */
#content .backward{
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 0px;
    /* border: 1px solid #ddd; */
    border-radius: 15px;
    box-shadow: 2px 2px 10px #ccc;
    float: left;
}
#content .backward:hover{
    box-shadow: 2px 2px 10px #b01818;
}
#content .backward a{
    text-decoration: none;
    color: #000;
}
#content .backward p{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    line-height: 0px;
}
/* 电影介绍全部 */
#content .movies_list {
    width: 980px;
    height: auto;
    margin: 10px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    box-shadow: 3px 3px 10px #aaa;
    overflow: hidden;
}
/* 单个电影介绍 */
#content .movies_list_item {
    width: 960px;
    height: 320px;
    margin: 10px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    /* box-shadow: 3px 3px 10px #aaa; */
    overflow: hidden;
}
#content .movies_list_item a {
    text-decoration: none;
    color: #000;
}
#content .movies_list_item:hover {
    box-shadow: 3px 3px 10px #b01818;
}
/* 电影海报 */
#content .movie_pic {
    width: 200px;
    height: 300px;
    margin: 10px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    box-shadow: 3px 3px 10px #aaa;
    float: left;
}
#content .movie_pic img {
    width: auto;
    height: 100%;
    border-radius: 10px;
}
/* 电影介绍正文 */
#content .movie_info {
    width: 700px;
    height: 300px;
    margin: 15px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    /* box-shadow: 3px 3px 10px #666; */
    float: left;
}
/* 电影简介 */
#content .movie_info h2 {
    color: #000;
    text-shadow: #ccc 3px 3px 6px;
}
#content .movie_info p {
    color: #000;
}