/* 返回 */
#content .backward{
    width: 125px;
    height: 35px;
    margin: 10px;
    padding: 0px;
    /* border: 1px solid #ddd; */
    border-radius: 15px;
    box-shadow: 2px 2px 10px #ccc;
    float: left;
}
#content .backward:hover{
    box-shadow: 2px 2px 10px #b01818;
}
#content .backward a{
    text-decoration: none;
    color: #000;
}
#content .backward p{
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    line-height: 5px;
}
#content .movie_info{
    width: 980px;
    height: auto;
    margin: 10px;
    padding: 0px;
    /* border: 1px solid #ddd; */
    border-radius: 15px;
    /* box-shadow: 2px 2px 10px #aaa; */
    overflow: hidden;
}
#content .movie_poster{
    width: 960px;
    height: auto;
    margin: 10px;
    padding: 0px;
    /* border: 1px solid #ddd; */
    border-radius: 15px;
    /* box-shadow: 2px 2px 10px #aaa; */
}
#content .movie_poster img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
#content .movie_entire_info{
    width: 920px;
    height: auto;
    margin: 10px;
    padding: 5px 20px;
    /* border: 1px solid #ddd; */
    border-radius: 15px;
    box-shadow: 2px 2px 10px #ccc;
}
#content .movie_polt{
    width: 920px;
    height: auto;
    margin: 10px;
    padding: 5px 20px;
    /* border: 1px solid #ddd; */
    border-radius: 15px;
    box-shadow: 2px 2px 10px #ccc;
}
#content .movie_polt p{
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    text-indent: 2em;
    line-height: 27px;
}
#content .movie_picture{
    width: 920px;
    height: auto;
    margin: 10px;
    padding: 5px 20px;
    /* border: 1px solid #ddd; */
    border-radius: 15px;
    box-shadow: 2px 2px 10px #ccc;
    overflow: hidden;
}
#content .movie_picture_list{
    width: 920px;
    height: auto;
}
#content .movie_picture_list_item{
    width: auto;
    height: 135px;
    margin: 5px;
    padding: 0;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    box-shadow: 2px 2px 6px #ccc;
    float: left;
}
#content .movie_picture img{
    width: auto;
    height: 135px;
    border-radius: 10px;
}
#content .movie_clips{
    width: 920px;
    height: auto;
    margin: 10px;
    padding: 5px 20px;
    /* border: 1px solid #ddd; */
    border-radius: 15px;
    box-shadow: 2px 2px 10px #ccc;
}