/* 返回 */
#content .backward{
    width: 100px;
    height: 35px;
    margin: 10px 15px 0px 15px;
    padding: 0px;
    /* border: 1px solid #ddd; */
    border-radius: 15px;
    box-shadow: 2px 2px 10px #ccc;
    float: left;
}
#content .backward:hover{
    box-shadow: 2px 2px 10px #b01818;
}
#content .backward a{
    text-decoration: none;
    color: #000;
}
#content .backward p{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    line-height: 0px;
}
/* 系列介绍全部 */
#content .series_list{
    width: 980px;
    height: auto;
    margin: 10px;
    /* border: 1px solid #ddd; */
    /* border-radius: 10px;
    box-shadow: 3px 3px 10px #666; */
    overflow: hidden;
}
/* 单个系列介绍 */
#content .series_item {
    width: 960px;
    height: auto;
    margin:10px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    box-shadow: 3px 3px 10px #ccc;
    overflow: hidden;
}
/* 系列标题 */
#content .series_item_title {
    width: 900px;
    height: 60px;
    margin: 0 10px;
    /* border: 1px solid #ddd;
    border-radius: 10px; */
    float: left;
}
/* 系列介绍正文 */
#content .series_item_passage {
    width: 880px;
    height: auto;
    margin: 0 10px;
    /* border: 1px solid #ddd;
    border-radius: 10px; */
    float: right;
}
#content .series_item_passage p{
    font-size: 16px;
    text-indent: 2em;
    line-height: 30px;
}
/* 系列电影展示 */
#content .series_item_movies{
    width: 900px;
    height: 180px;
    margin: 5px;
    /* border: 1px solid #ddd;
    border-radius: 10px; */
    overflow: hidden;
    float: right;
}
/* 单个电影展示 */
#content .series_item_movies_item{
    width: 250px;
    height: 150px;
    margin: 5px 10px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    float: left;
}
/* 超链接样式 */
#content .series_item_movies_item a{
    text-decoration: none;
    color: #000;
}
/* 图片容器样式 */
#content .series_item_movies_item a div{
    width: auto;
    height: auto;
    margin: 0;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
}
/* 图片样式 */
#content .series_item_movies_item img{
    width: 100%;
    height: 100%;
    margin: 0;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    float: left;
}
#content .series_item_movies_item img:hover{
    box-shadow: 2px 2px 12px #b01818;
}